.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header {
  width: 100%;
}

#main-container {
  overflow: hidden;
}

#innerBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#sidebarMenu {
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

#insideSideBar {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

#scroll-container {
  flex-wrap: nowrap;
  align-items: center;
}

#scroll-container .nav-item {
  width: 100%;
}

#open-convo {
  overflow: hidden;
}

@media (max-width: 767px) {
  #insideSideBar {
    height: 83%;
  }
  #tab-bar {
    height: 20%;
  }
}

@media (max-width: 377px) {
  #insideSideBar {
    height: 80%;
  }
  #tab-bar {
    height: 20%;
  }
}

#chat {
  cursor: pointer;
  font-size: 0.9rem;
}

#chat:hover {
  transition: 0.4s ease all;
  background-color: #e4e4e460;
}

#default {
  justify-content: center;
  align-items: center;
}

#chat-window {
  overflow: hidden;
}

.text-bubble,
.text-bubble-me {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.text-bubble {
  align-items: flex-start;
  text-align: left;
  padding-right: 30%;
}

.text-bubble-me {
  align-items: flex-end;
  text-align: right;
  padding-left: 30%;
}

.text-bubble-me span,
.text-bubble span {
  font-size: 1rem;
}

@media (max-width: 767px) {
  .text-bubble span,
  .text-bubble-me span {
    font-size: 0.9rem;
  }
}

.text,
.text-sender,
.text-time {
  margin: 0px;
  padding: 0px;
}

.text-time {
  font-size: 0.6rem;
  color: lightgrey;
}

.text-sender {
  font-size: 0.6rem;
  color: lightblue;
}

.text-container {
  border: 1px solid whitesmoke;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease all;
}

.text-container:hover,
.text-container-reply-me:hover,
.text-container-reply:hover {
  transition: 0.4s ease all;
  opacity: 0.5;
}

.text-container-reply-me,
.text-container-reply {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  text-align: right;
  align-self: flex-end;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
  max-width: 250px;
  transition: 0.4s ease all;
}

.reply-text {
  width: 100%;
  align-self: flex-end;
}

.text-container-reply {
  text-align: left;
  align-self: flex-start;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}

.dp {
  border-radius: 50%;
}

.img-box {
  justify-content: center;
  align-items: center;
}

.all-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-1 {
  text-align: right;
  font-size: 0.8rem;
  color: rgba(0, 0, 255, 0.611);
}

.name-1 {
  font-weight: bold;
  font-size: 1rem;
}

.text-2 {
  font-size: 0.8rem;
  color: grey;
}

.text-3 {
  padding-left: 10px;
}

#contact-1 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#name-contact,
#email-contact {
  width: 100%;
}

#name-contact {
  font-size: 1rem;
  font-weight: bold;
}

#email-contact {
  color: grey;
  font-size: 0.8rem;
}

#contact-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#contact-img {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info {
  align-items: center;
}

#contact-info h1 {
  font-weight: bold;
}

#contact-info p {
  color: grey;
}

#following-info {
  align-items: center;
  justify-content: center;
}

.post {
  cursor: pointer;
  transition: 0.4s ease all;
}

.post:hover {
  transition: 0.4s ease all;
  opacity: 0.8;
}

.hover-1 {
  cursor: pointer;
  transition: 0.4s ease all;
}

.hover-1:hover {
  transition: 0.4s ease all;
  opacity: 0.6;
}

#floatingTextarea2 {
  resize: none;
}

.chat-sub-but:hover {
  transition: 0.4s ease all;
  background-color: whitesmoke;
}

#flexSwitchCheckDefault {
  cursor: pointer;
}

#profile-dp {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

#floatingAction {
  transition: 0.4s ease all;
  /* margin-left: 280px; */
  float: right;
}

#floatingAction:hover {
  transition: 0.4s ease all;
  transform: scale(1.1);
}

@media (max-width: 767px) {
  #floatingAction {
    margin-left: 320px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

#label-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#close-reply {
  float: right;
  cursor: pointer;
}

#infoImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.post-msg-me,
.text-post-me,
.contact-card-me {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 40%;
  cursor: pointer;
  transition: 0.4s ease all;
}

.post-msg,
.text-post,
.contact-card {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 40%;
  cursor: pointer;
  transition: 0.4s ease all;
}

.post-msg-card,
.text-post-card,
.contact-card-card {
  transition: 0.4s ease all;
}

.post-msg-card:hover,
.text-post-card:hover,
.contact-card-card:hover {
  transition: 0.4s ease all;
  opacity: 0.6;
}

@media (max-width: 1027px) {
  .post-msg-me,
  .post-msg,
  .text-post,
  .text-post-me,
  .contact-card,
  .contact-card-me {
    width: 80%;
  }
}

.post-msg-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.chat-box-2 {
  transition: 0.4s ease all;
}

.chat-box-2:hover {
  transition: 0.4s ease all;
  opacity: 0.6;
}

.contact-card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
